#user-table {
  width: fit-content;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px gainsboro;
}

.table-row {
  display: grid;
  grid-template-columns: 50px 90px 140px 130px 200px 90px 80px 80px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.table-row > div {
  padding-right: 10px;
}

.table-header {
  font-weight: bold;
}

.category > div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

button:hover  {
  cursor: pointer;
}

#table-filters {
  margin-bottom: 5px;
}

#table-filters {
  display: flex;
  margin-top: 10px;
}

#table-filters .filter-name {
  width: 100px;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.input-form > div {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 10px;
}

.input-form input {
  width: 150px;
  padding: 1px 2px;
}

.input-form select {
  width: 158px;
}

.input-form > button {
  width: fit-content;
  margin-top: 10px;
}